*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #090e22;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #FDFDFD;
}

.hide{
    display: none !important;
}

.container{
    min-width: 400px;
    min-height: 400px;
    background-color: #1d1b33;
    padding: 2rem;

}

/* IMC FORM  */

#calc__container h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form__inputs{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__control{
    display:flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1rem;
}

.form__control label{
    font-weight: bold;
    margin-bottom: .6rem;
    color: #ccc;
}

.form__control input{
    padding: 1rem 0.5rem;
}

.action__control{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 1rem;
}

button{
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    background-color: #f44236;
    border: none;
    color: #fdfdfd;
    cursor: pointer;
    opacity: 0.9;
    flex: 1;
}

button:hover{
    opacity: 1;
}

#clear__btn{
    background-color: #444;
}

/* TABLE  */

#result__container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imc__number{
    font-size: 2.4rem;
    margin-bottom: .6rem;
}
#imc__info{
    font-size: 1.4rem;
    color: #ccc;
}

#result__container h3{
    margin: 1.2rem 0;
    color: #dfdfdf;
}

#imc__table{
    margin: 1.5rem 0;
    font-size: .8rem;
}

.table__header{
    font-weight: bold;
    color: #ccc;
}

.table__header,
.table__data{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #444;   
}

.table__header h4,
.table__data p{
    flex: 1;
}

.table__header h4:nth-child(3),
.table__data p:nth-child(3){
    max-width: 80px;
}

#back__btn{
    margin-top: 1.5rem;
    align-self: center;
}


.good{
    color: #12db34;
}
.low{
    color: #dbce12;
}
.medium{
    color: #db6212;
}
.high{
    color: #db1912;
}